* {
    margin: 0;
    padding: 0;
}

.image {
    height: 700px;
    background: #55e6c5;
    z-index: 1;
    }

.image2 {
  height:300px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


.zoom_img img{
height:100px;
width:100px;
-moz-transition:-moz-transform 0.5s ease-in;
-webkit-transition:-webkit-transform 0.5s ease-in;
-o-transition:-o-transform 0.5s ease-in;
}
.zoom_img img:hover{
-moz-transform:scale(2);
-webkit-transform:scale(2);
-o-transform:scale(2);
}


h4 {
  position:absolute;
  font-size: 40px;
  color: black;
  font-family: the_goldsmith_vintagevintage, sans-serif;
  margin: 18px 150px;
  opacity: 1;
}

h2 {
  position:relative;
  text-align:center;
  font-size: 120px;
  color: white;
  font-family: the_goldsmith_vintagevintage, sans-serif;
  font-weight: 200;
  margin: 30px 30px;
  top:250px;
  left: 0;
  width:100%;
  opacity: 1;
}
h3 {
  position:relative;
  text-align:center;
  font-size: 30px;
  color: white;
  font-family: caviar_dreamsregular, sans-serif;
  font-weight: 5;
  letter-spacing: 20px;
  margin: 30px 30px;
  top:80px;
  left: 0;
  width:100%;
  opacity: 100;
}

.content {
    width:100%;
    background: white;
    padding-bottom: 10px;
    z-index: 2;
}

.content h1 {
    font-size: 75px;
    color: #464646;
    font-family: the_goldsmith_vintagevintage, serif;
    font-weight: 600;
    margin: 30px 60px;
}
.content p {
    font-size:20px;
    color: #343434;
    font-family: caviar_dreamsregular, sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}
#wall_1 {
    background: url(../Images/Back-aqua.jpg) ;
    background-size: 100% 100%;
    background-attachment: fixed;
}
#wall_2 {
    background: url(../Images/Back-Jelly.jpg) repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#wall_3 {
    background: url(../Images/Back-Macro.jpg) repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#wall_4 {
    background: url(../Images/Back-Land.jpg) repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}




#nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(255,255,255,1);
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
    -moz-box-shadow: 0px 0px 8px 0px #000000;
    box-shadow: 0px 0px 8px 0px #000000;
    overflow:hidden;
}
#nav ul {
    margin-left: 500px;
    margin-top: 5px;
    list-style: none;
    list-style-image: none;
    text-align: center;
}
#nav li {
    padding: 20px;
    position:relative;
    float:left;
    display: inline-block;
}
#nav a{
  padding: 23px;
  font-size:16px;
  text-decoration: none;
  font-family: caviar_dreamsregular, sans-serif;
  color: #343434;
}


.nav-button{
  padding: 20px;
  position:fixed;
  top:2px;
  right: 2px;
}
.nav-button:hover,
.nav-button:active{
  background-color: #d2d2d2;
  color: #fff;
}

a{
  padding: 23px;
  font-size: 40px;
  text-decoration: none;
  font-family: caviar_dreamsregular, sans-serif;
  color: #343434;
}


.ghost-button{
  position:relative;
  top: 200px;
  display:inline-block;
  padding-top: 15px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out,
              border-radius 0.2s ease-out;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: white;
  border-radius: 0px;
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.3s ease-in,
              border-color 0.3s ease-in,
              border-radius 0.3s ease-in;
}


nav.page-navigation .current a {
    background-color: #d2d2d2;
    color: #fff;
}

#nav #logo {
    height: 40px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 100px;
}

#nav #logo img {
    height: 100%;
    width: 100%;

}

#content_1 {position: relative;}

h1::first-letter {
    font-size: 100px;
    font-weight: 600;
    color:#0438e3;
}




.center{
  align-self: center;
  padding-top: 20px;
}
.slick-center .slide-h3{
    color: #FFF;
  }
  .slider{
    width: 80%;
    height:150px;
    margin: 20px;
    text-align: center;
  }
  .slide-h3{
    margin: 10% 0 10% 0;
    padding: 40% 20%;
    background: #008ed6;
  }
  .slider div{
    margin-right: 5px;
    margin-left: 5px;
  }
  .slick-slide{
    opacity: .5;
  }
  .slick-center{
    display: block;
    opacity: 1;
  }
